# ---> JetBrains
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

_testmain.go

*.exe
*.test
*.prof

# ---> macOS
.DS_Store
.AppleDouble
.LSOverride

# bin
/cmd/cli
/cmd/specialcli
